body {
   margin: 0;
} 
    
    h1{
    display: flex;
    justify-content: center;
    background-color: rgb(38, 76, 173);
    color: white;
}

#app {
    display: flex;

}

#weather-container {
    border: 1px solid grey 
}

.forecast {
    border: 1px solid grey;
    display: flex;
    /* flex-direction: column; */


}