body {
   margin: 0;
} 
    
    h1{
    display: flex;
    justify-content: center;
    background-color: rgb(38, 76, 173);
    color: white;
}

#weather-container {
    border: 1px solid grey;
    text-wrap: wrap;
    
}

.forecast {
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    margin: 100px;


}

.forecast img {
    width: 50px;
    height: 100%;
}
