body {
   margin: 0;
} 
    
    h1{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
}

h3, h4 {
    font-family: papyrus;
    font-size: 20px;
}
/* Created border around weather container */
#weather-container {
    border: 2px solid grey;
    text-wrap: wrap;
    width: 800px;
    
}

.forecast {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* added a border to each day's weather in the forecast */
.forecast div {
    border: 2px solid grey;
    margin: 10px;
    background-color: rgb(111, 111, 207);
}
.forecast img {
    width: 50px;
    height: 20%;
}
